* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #CBD0D0;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 10px;
}

h1 {
    font-family: 'Geologica', sans-serif;
    font-weight: 700;
    color: #3E3A34;
}

.photos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 990px;
    height: 700px;
    margin: 50px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    background-image: url(/images/fondo-decorativo-detalle-corcho_23-2148210093.avif) ;
    background-position: center;
    background-size: contain;
    border: 5px ridge white;
    border-radius: 10px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.photo {
    width: 200px;
    height: 270px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: transform, 0.5s;
}

.image-container {
    width: 100%;
    height: 90%;
    border-radius: 5px;
    overflow: hidden;
}

img {
    transform: translate(0px,-20px);
    max-width: 100%;
}

figcaption {
    color: #2B686E;
}

.athens {
    left: 40px;
    top: 30px;
    transform: rotate(10deg);
}

.istambul {
    top: 40px;
    left: 270px;
}

.marcelle {
    top: 40px;
    right: 270px;
    transform: rotate(-20deg);
}

.portofino {
    bottom: 40px;
    right: 260px;
    transform: rotate(10deg);
}

.napoli {
    top: 40px;
    right: 30px;
    transform: rotate(-5deg);
}

.rhodes {
    bottom: 40px;
    left: 40px;
    transform: rotate(15deg);
}

.santorini {
    bottom: 40px;
    left: 300px;
    transform: rotate(-10deg);
}

.photo:hover {
    width: 300px;
    height: 400px;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    z-index: 5;
    transform: rotate(0deg);
}

.photo:hover figcaption {
    margin: 10px;
}
